<html>
  <body>
    {% for conversation in conversations %}
      {% if conversation.fromText %}
        <b>{{ conversation.fromText }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ conversation.toText|escape }}</blockquote>
    {% endfor %}

    <form action="/add" method="post">
      <div>Von:   <textarea name="from" rows="3" cols="60"></textarea></div>
	  <div>An:     <textarea name="to" rows="3" cols="60"></textarea></div>
	  <div>Datum: <input type="text" name="date" ></input></div>
      <div><input type="submit" value="Speichern"></div>
    </form>

    <!-- <a href="{{ url }}">{{ url_linktext }}</a> -->

  </body>
</html>